@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.art_list {
  list-style: none;

  li {
    width: 100%;
  }
}

.edit_layout {
  position: absolute;
  background-color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}